@unocss;

#app {
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

form {
  input[data-dirty]:invalid {
    background-color: #fee2e2;
  }
}

.bottom-opacity-gradient {
  mask-image: linear-gradient(0deg, transparent 16px, red 66px)
}

@keyframes bounce-show {
  0% {
    opacity: 0.5;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bounce-hide {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }

}

dialog[open] {
  animation: bounce-show 0.3s;
}
