@unocss;

#app {
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

form {
  input[data-dirty]:invalid {
    background-color: #fee2e2;
  }
}

.bottom-opacity-gradient {
  mask-image: linear-gradient(0deg, transparent 16px, red 66px);
}

dialog {
  display: unset;
  inset: 0;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
  transform: scale(0.5);
}

dialog[open] {
  transform: scale(1);
}
