
.detail-log__toggle-button {
  flex-shrink: 0;
  width: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  border: unset;
  padding: unset;
  margin: unset;
  margin-right: 1px;
  background-color: #f0f0f0;
  font-size: unset;
  font-family: unset;
  user-select: none;
}
.detail-log__toggle-button:hover {
  background-color: gainsboro;
}
.detail-log__toggle-button:active {
  background-color: lightgray;
}
.detail-log__toggle-placeholder {
  flex-shrink: 0;
  width: 1rem;
  margin-right: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail-log__toggle-placeholder::after {
  content: "·";
  color: gray;
}

.detail-log__parent {
  display: flex;
  flex-direction: row;
  align-items: start;
}
.detail-log__text:hover {
  background-color: #f0f0f0;
}

.detail-log__children {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  border-left: gray 1px solid;
  border-bottom-left-radius: 0.5rem;
}

.detail-log {
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;
}
