body,
html {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  width: min(100vw, 1280px);
  /* overflow: hidden; */
}

.title {
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
  font-size: 1.3rem;
  margin: 0.2rem 0;
  font-family: "汉仪文黑-85W", sans-serif;
}

.title-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.config-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;

  .config-panel__title {
    font-size: 1.2rem;
    margin: 1rem 0;
    text-align: center;
    font-weight: bold;
  }

  .config-panel__deck {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    input {
      flex-grow: 1;
      flex-shrink: 1;
      font-family: monospace;
    }
  }

  .config-panel__description {
    margin: 1rem 0;
  }

  button {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.2rem;
  }
}

.grayscale {
  filter: grayscale(50%);
}

.hidden {
  display: none;
}

.tabs {
  position: relative;
  display: flex;
  gap: 0.25rem;
}

.tab {

  --tab-header-height: 2rem;

  .tab__input {
    display: none;
  }
  .tab__content {
    display: none;
    position: absolute;
    top: var(--tab-header-height);
    left: 0;
  }
  .tab__input:checked ~ .tab__content {
    display: block;
  }
  .tab__header {
    display: inline-block;
    padding: 0 0.5rem;
    height: var(--tab-header-height);
    background-color: #f0f0f0;
    border-radius: 0.5rem 0.5rem 0 0;
  }
}
