body,
html {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  width: min(100vw, 1280px);
  /* overflow: hidden; */
}

.title {
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
  font-size: 1.3rem;
  margin: 0.2rem 0;
  font-family: "汉仪文黑-85W", sans-serif;
}

.title-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.config-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;

  .config-panel__title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
  }

  .config-panel__deck {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    input {
      flex-grow: 1;
      flex-shrink: 1;
      font-family: monospace;
    }
  }
  .config-panel__deck + .config-panel__deck {
    margin-top: -1rem;
  }

  .config-panel__description {
    margin-bottom: 1rem;
  }

  .config-panel__button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;

    button {
      font-size: 1.2rem;
      font-weight: bold;
      padding: 0.2rem;
    }
  }

  .config-panel__room-id {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

    input {
      font-size: 1.2rem;
    }
  }
}

.grayscale {
  filter: grayscale(50%);
}

.hidden {
  display: none;
}

.text-danger {
  color: red;
}
.tabs {
  padding: 0.5rem;
  position: relative;
  display: grid;
  grid-template-columns: [start] repeat(2, auto) 1fr [end];
  grid-template-rows: auto [content-start] auto;
}

.tab__input {
  display: none;
}
.tab__content {
  display: none;
  border: black 1px solid;
  border-top: white 1px solid;
  background-color: white;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 1rem;
  grid-row-start: content-start;
  grid-column-start: start;
  grid-column-end: end;
}
.tab__input:checked + * + .tab__content {
  display: block;
}
.tab__header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  height: 2rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem 0.5rem 0 0;
  transition-property: all;
  transition-duration: 0.2s;
  border-bottom: black 1px solid;
}
.tab__input:not(:checked) + .tab__header:hover {
  background-color: #e0e0e0;
}
.tab__input:checked + .tab__header {
  background-color: white;
  border: black 1px solid;
  border-bottom: 0;
  z-index: 1;
}

.tab__spacer {
  border-bottom: black 1px solid;
}

.detail-log__toggle-button {
  flex-shrink: 0;
  width: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  border: unset;
  padding: unset;
  margin: unset;
  margin-right: 1px;
  background-color: #f0f0f0;
  font-size: unset;
  font-family: unset;
  user-select: none;
}
.detail-log__toggle-button:hover {
  background-color: gainsboro;
}
.detail-log__toggle-button:active {
  background-color: lightgray;
}
.detail-log__toggle-placeholder {
  flex-shrink: 0;
  width: 1rem;
  margin-right: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail-log__toggle-placeholder::after {
  content: "·";
  color: gray;
}

.detail-log__parent {
  display: flex;
  flex-direction: row;
  align-items: start;
}
.detail-log__text:hover {
  background-color: #f0f0f0;
}

.detail-log__children {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  border-left: gray 1px solid;
  border-bottom-left-radius: 0.5rem;
}

.detail-log {
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;
}
