:root {
  --c-void: #4a4a4a;
  --c-electro: #b380ff;
  --c-pyro: #ff9955;
  --c-dendro: #a5c83b;
  --c-cryo: #55ddff;
  --c-geo: #ffcc00;
  --c-hydro: #3e99ff;
  --c-anemo: #80ffe6;
  --c-omni: #dcd4c2;
  --c-energy: #eab308;
  --font-emoji: Apple Color Emoji, Segoe UI Emoji, Noto Color Emoji,
    Android Emoji, EmojiSymbols, EmojiOne Mozilla, Twemoji Mozilla,
    Segoe UI Symbol, Noto Color Emoji Compat, emoji;
}

.clickable {
  cursor: pointer;
  outline: 6px solid lightgreen;
}

.selected::after {
  content: "\2705";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
  font-size: 3rem;
  font-family: var(--font-emoji);
}
